<div class="transactions">
    <div class="transactions-item">
        <div class="inline-block w120 form-control">
            Type:
            <select ng-model="$ctrl.newTransaction.type">
                <option ng-repeat="type in $ctrl.types" value="{{type.Value}}">{{type.Text}}</option>
            </select>
        </div>
        <div class="inline-block w120 form-control">
            Currency:
            <select ng-model="$ctrl.newTransaction.currency">
                <option ng-repeat="currency in $ctrl.currencies" value="{{currency.Value}}">{{currency.Text}}</option>
            </select>
        </div>
        <div class="inline-block w120 form-control">
            Client:
            <select ng-model="$ctrl.newTransaction.client" ng-change="$ctrl.changeClient()">
                <option ng-repeat="client in $ctrl.clients" value="{{client.Value}}">{{client.Text}}</option>
            </select>
        </div>
        <div class="inline-block w120 form-control">
            Balance:
            <select ng-model="$ctrl.newTransaction.balance">
                <option ng-repeat="balance in $ctrl.balances" value="{{balance.Value}}">{{balance.Text}}</option>
            </select>
        </div>
        <div class="inline-block w120 form-control">
            Amount:
            <input type="text" ng-model="$ctrl.newTransaction.amount" decimal-only />
        </div>
        <button ng-click="$ctrl.addTransaction()">Add transaction</button>
        <button class="right mt18" ng-click="$ctrl.archiveTransactions()">Archive transactions</button>
    </div>
    <div class="transactions-item">
        <table>
            <colgroup>
                <col width="130px" />
                <col width="130px" />
                <col width="130px" />
                <col width="150px" />
                <col width="180px" />
                <col width="180px" />
            </colgroup>
            <thead>
                <tr>
                    <td>Type</td>
                    <td>Currency</td>
                    <td>Amount</td>
                    <td>Client</td>
                    <td>Date</td>
                    <td>Archive</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in $ctrl.transactions">
                    <td>{{transaction.Type}}</td>
                    <td>{{transaction.Currency}}</td>
                    <td>{{transaction.Amount}}</td>
                    <td>{{transaction.Client}}</td>
                    <td>{{transaction.DateTime}}</td>
                    <td>{{transaction.ArchiveDatetime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>